@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
body{
	font-family: 'Noto Serif TC', serif;
	background-color: #FFF8ED;
}
article ol {
	color: #043540;
	font-weight: 600;
}
article a:link  {
	color: #043540;
	text-decoration: none;
	font-weight: 800;
}
article a:hover {
	text-decoration: underline;
	color: #B35C37;
}



article p {
	color: #043540;
	font-weight: 600;
}
article ul {
	color: #043540;
	font-weight: 600;
}


header h1 {
	text-align: center;
	color: #4A593D;
	font-size: 43px;
}
article h4 {
	color: #4A593D;
	font-weight: 800;
}
.container h6 {
	color: #4A593D;
	text-align: center;
	font-weight: 800;
}





footer {
	height: 100px;
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
nav {
	text-align: center;
}
nav a:link {
	text-decoration: none;
	color: #939650;
	font-weight: 600;
}
nav a:visited {
	color: #616138;
}

nav a:hover {
	text-decoration: underline;
	color: #B35C37;
}
.heroimg {
	height: 250px;
	background-image: url(HW02/banner.png);
	background-position: center 0;
	border-radius: 50px;
	background-size: auto auto;
}
article h3 {
	height: 40px;
	background-color: #CDCFA6;
	padding-left: 15px;
	line-height: 40px;
	border-radius: 13px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align: center;
	text-decoration: none;
	color: #616138;
}
article h2 {
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	height: 60px;
	background-color: #616138;
	line-height: 60px;
	border-radius: 30px 30px 13px 13px;
	text-align: center;
	color: #FEFEF4;
}
article h5 {
	text-align: center;
}
